<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ca-ES">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="description" content="Associacio per la Cultura lliure" />
  <meta name="keywords" content="ProgramariLliure, Fediverse, Barcelona, Catalunya, LlenguaCatalana, Catala, ESS" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LaLoka - {{ title }}</title>
  <link rel="shortcurt icon" type="image/svg" href="/static/img/favicon-sf-v.svg">
  <link href="/static/css/normalize.css" rel="stylesheet" media="screen">
  <link href="/static/css/skeleton.css" rel="stylesheet" media="screen">
  <link href="/static/css/laloka.css" rel="stylesheet" media="screen">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="twelve columns">

        <!-- Site navigation menu -->
        {% include 'menu.html' %}

        <h1 class="pageTitle">
          {{ title }}
        </h1>

        <!-- Main content -->
        <div class="content">
          {{ content | safe }}
        </div>

        <!-- Footer -->
        {% include 'footer.html' %}

      </div>
    </div>
  </div>

</body>
</html>
