<div class="footer">
  <div class="v-center-img">
    <a href="mailto:info@laloka.org">
      info@laloka.org
    </a>
    <br />
    <a href="https://barcelona.social/laloka">laloka@barcelona.social</a>
    <a href="https://barcelona.social/laloka">
      <img class="centered-img"
           src="/static/img/fediverse-logo.png" />
    </a>
    <br />
    <span style="font-size: 1.5rem; color:green">
      &#x2764; Web feta amb HTML i CSS.
      <a href="https://gitlab.com/la-loka/laloka.org/">Font</a>
      &#x2764;
    </span>
  </div>
</div>
