<div class="topnav">
  <div id="logo">
    <img 
         src="/static/img/logo-sf-b.png"
         alt="Logo de l'associació LaLoka"
    />
  </div>
  <div class="menu" style="float:left">
    <a href="/">Índex</a>
    <a href="/associacio/">LaLoka</a>
    <a href="/projectes/">Projectes</a>
    <a href="/eines/">Eines</a>
    <a href="/socies/">Associa't!</a>
  </div>
</div>

<div style="float:none"></div>
