body {
  font-family: URW Gothic L, sans-serif;
  font-size: 20px;
  color: #333333;
  background-color: #ececec;
  position: relative;
}


.content {
  padding: 3rem;
  background-color: #f9f9f9;
  min-height: calc(100vh - 40px);
}


h1.pageTitle {
  margin-bottom:0;
  background-color: #8dd35f;
  padding: 0 0 0.25rem 3rem;
}

.v-center-img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.centered-img {
    vertical-align: middle;
    max-height: 25px;
    max-width: 160px;
}

code{
  white-space: pre;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #1a1a1a;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #1a1a1a;
  padding: 1rem 2rem 1rem 3rem;
}

.topnav img {
  width: 360px;
  height: 55px;
  overflow: hidden;
}


#logo {
  float: right;
  margin-top:0.4rem;
}

@media only screen and (max-width: 930px) {
  .topnav {
    padding-bottom: 0.2rem;
  }
  #logo {
    float: none;
    margin-top:0.2rem;
  }
}

/* Style the menu links */
.menu a, .menu a:visited {
  float: left;
  display: block;
  color: #8dd35f;
  margin: 0.75rem 0.75rem 0.75rem 0;
  padding: 0.5rem;

  text-decoration: none;
  font-size: 22px;
}

.menu a:first-child {
  margin-left: 0;
}

/* Change color on hover */
.menu a:hover {
  background-color: #8dd35f;
  color: #1a1a1a;
  text-decoration: underline
}

/* Add an active class to highlight the current page */
.menu a.active {
  background-color: #8dd35f;
  color: #1a1a1a;
  text-decoration: none;
}


ol, ul {
  list-style: auto;
  margin-left: 3em;
}
ul {
  list-style-type: square;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Bebas, "Bebas Neue", sans-serif;
  color: #333333;
  font-weight: bold;
  letter-spacing: 0.015em;
  margin-top 0;
  margin-bottom 0;
}
h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

/* Style the footer */
.footer {
  position: relative;
  bottom: 0px;
  background-color: #1a1a1a;
  text-align: center;
  width:100%;
}
/* Style the footer links */
.footer a {
  color: #8dd35f;
  text-decoration: none;
}

/* Change color on hover */
.footer a:hover {
  text-decoration: underline
}

.container {
  width: 100%;
}

@media only screen and (max-width:820px) {
  .content {
    padding: 2rem;
  }
  h1.pageTitle {
    padding-left: 2rem;
  }
  .topnav {
    padding-left: 2rem;
  }
  ol, ul {
    margin-left: 2em;
  }
}

@media only screen and (max-width:550px) {
  ol, ul {
    margin-left: 1em;
  }
  .topnav {
    padding-left: 1rem;
  }
  h1.pageTitle {
    padding-left: 1rem;
  }
  #logo {
    margin-top: 0rem;
  }
  .content {
    padding: 2rem 1rem;
  }
}

@media (max-width: 400px){
  .container {
    width: 100%;
    padding: 0; }
}
